.Cuaca {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.Cuaca-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Cuaca-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Cuaca-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Cuaca-link {
  color: #61dafb;
}

.Cuaca h1 {
  font-size: 50px;
  margin-top: 150px;
  margin-bottom: 150px;
  color: white;
}
.Cuaca h2 {
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 30px;
  color: white;
}
.Cuaca h4 {
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}